<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分省住宅商品房销售面积(万平方米)</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-table.css" rel="stylesheet">
    <!--js-->
    <script src="/static/js/jquery-1.12.0.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-table.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>
    <script>
        function get(){

            var a = document.getElementById("select").value;

           window.location.href= "/show/" + a;
        }
</script>
</head>
<body>
<select id="select" style="margin-left:10%" >
    <option  value="10">选择图表</option>
    <option value="1" >十年主要大中城市住宅商品房销售价格</option>
    <option value="2" >新建商品住宅销售价格指数(2018年=100)</option>
    <option value="3" >最近五年主要城市在岗职工平均工资(元)</option>
    <option value="4" >北方地区投资额</option>
    <option value="5" >南方地区投资额</option>
    <option value="6" >西部地区投资额</option>
    <option value="7" >分省住宅商品房销售面积(万平方米)</option>
</select>
<a href="javascript:void(0);" onclick="get()">do it</a>
    <div id="3815a724741c479598c45897b618176c" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_3815a724741c479598c45897b618176c = echarts.init(
            document.getElementById('3815a724741c479598c45897b618176c'), 'white', {renderer: 'canvas'});
        var option_3815a724741c479598c45897b618176c = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "name": "\u4f4f\u5b85\u5546\u54c1\u623f\u9500\u552e\u9762\u79ef",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "mapType": "china",
            "data": [
                {
                    "name": "\u5317\u4eac",
                    "value": 526.76
                },
                {
                    "name": "\u5929\u6d25",
                    "value": 1140.73
                },
                {
                    "name": "\u6cb3\u5317",
                    "value": 4714.42
                },
                {
                    "name": "\u5c71\u897f",
                    "value": 2215.59
                },
                {
                    "name": "\u5185\u8499\u53e4",
                    "value": 1702.39
                },
                {
                    "name": "\u8fbd\u5b81",
                    "value": 3554.81
                },
                {
                    "name": "\u5409\u6797",
                    "value": 1813.82
                },
                {
                    "name": "\u9ed1\u9f99\u6c5f",
                    "value": 1665.58
                },
                {
                    "name": "\u4e0a\u6d77\u5e02",
                    "value": 1333.29
                },
                {
                    "name": "\u6c5f\u82cf",
                    "value": 12040.68
                },
                {
                    "name": "\u6d59\u6c5f",
                    "value": 7936.17
                },
                {
                    "name": "\u5b89\u5fbd",
                    "value": 8901.25
                },
                {
                    "name": "\u798f\u5efa",
                    "value": 4781.58
                },
                {
                    "name": "\u6c5f\u897f",
                    "value": 5389.0
                },
                {
                    "name": "\u5c71\u4e1c",
                    "value": 11755.37
                },
                {
                    "name": "\u6cb3\u5357",
                    "value": 12482.88
                },
                {
                    "name": "\u6e56\u5317",
                    "value": 8101.71
                },
                {
                    "name": "\u6e56\u5357",
                    "value": 7997.94
                },
                {
                    "name": "\u5e7f\u4e1c",
                    "value": 12075.1
                },
                {
                    "name": "\u5e7f\u897f",
                    "value": 5589.89
                },
                {
                    "name": "\u6d77\u5357",
                    "value": 1298.82
                },
                {
                    "name": "\u91cd\u5e86",
                    "value": 5424.76
                },
                {
                    "name": "\u56db\u5ddd",
                    "value": 9895.35
                },
                {
                    "name": "\u8d35\u5dde",
                    "value": 4441.44
                },
                {
                    "name": "\u4e91\u5357",
                    "value": 3643.93
                },
                {
                    "name": "\u897f\u85cf",
                    "value": 62.1
                },
                {
                    "name": "\u9655\u897f",
                    "value": 3545.6
                },
                {
                    "name": "\u7518\u8083",
                    "value": 1437.95
                },
                {
                    "name": "\u9752\u6d77",
                    "value": 377.41
                },
                {
                    "name": "\u5b81\u590f",
                    "value": 887.97
                },
                {
                    "name": "\u65b0\u7586",
                    "value": 1195.14
                }
            ],
            "roam": true,
            "zoom": 1,
            "showLegendSymbol": true,
            "emphasis": {},
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4f4f\u5b85\u5546\u54c1\u623f\u9500\u552e\u9762\u79ef"
            ],
            "selected": {
                "\u4f4f\u5b85\u5546\u54c1\u623f\u9500\u552e\u9762\u79ef": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u5206\u7701\u4f4f\u5b85\u5546\u54c1\u623f\u9500\u552e\u9762\u79ef(\u4e07\u5e73\u65b9\u7c73)"
        }
    ],
    "visualMap": {
        "show": true,
        "type": "piecewise",
        "min": 62.1,
        "max": 12482.88,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "pieces": [
            {
                "min": 0,
                "max": 2000,
                "label": "0-2000",
                "color": "#285171"
            },
            {
                "min": 2000.1,
                "max": 4000,
                "label": "2000-4000",
                "color": "#1E90FF"
            },
            {
                "min": 4000.1,
                "max": 6000,
                "label": "4000-6000",
                "color": "#87CEFA"
            },
            {
                "min": 6000.1,
                "max": 8000,
                "label": "6000-8000",
                "color": "#ADD8E6"
            },
            {
                "min": 8000.1,
                "max": 10000,
                "label": "8000-10000",
                "color": "#B0C4DE"
            },
            {
                "min": 10000.1,
                "max": 12000,
                "label": "10000-12000",
                "color": "#B0C4DE"
            },
            {
                "min": 12000.1,
                "max": 14000,
                "label": "120000-14000",
                "color": "#E0FFFF"
            }
        ]
    }
};
        chart_3815a724741c479598c45897b618176c.setOption(option_3815a724741c479598c45897b618176c);
    </script>
 <table class="table table-striped" style="margin-left:10%;margin-right: 10%;width:80%;">
        <thead>
            <tr>
                <th>来源</th>
                <th>地区</th>
                <th>2018</th>
                <th>2017</th>
                <th>2016</th>
                <th>2015</th>
                <th>2014</th>
                <th>2014</th>
                <th>2013</th>
                <th>2012</th>
                <th>2011</th>
                <th>2010</th>
                <th>2009</th>
            </tr>
        </thead>
        <tbody>
        {%for data in datas%}
            <tr>
            {%for i in data%}
                <td>{{i}}</td>
              {%endfor%}
            </tr>
        {%endfor%}
        </tbody>
    </table>
</body>
</html>