<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="bd5c5074c6cb4307ba77996a25f2c19b" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_bd5c5074c6cb4307ba77996a25f2c19b = echarts.init(
            document.getElementById('bd5c5074c6cb4307ba77996a25f2c19b'), 'white', {renderer: 'canvas'});
        var option_bd5c5074c6cb4307ba77996a25f2c19b = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#FFCC33",
        "#d8b368",
        "#dad4b9",
        "#82c0af",
        "#285171",
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "2018",
            "data": [
                149843,
                103931,
                75114,
                80825,
                71387,
                82067,
                87592,
                80425,
                71771,
                142983,
                111071,
                106709,
                102325,
                89022,
                83175,
                85166,
                82672,
                91651,
                90840,
                80963,
                88327,
                93293,
                111839,
                111709,
                83452,
                77632,
                81764,
                88011,
                82685,
                80253,
                126936,
                87125,
                85575,
                84071,
                87291,
                85990
            ],
            "barCategoryGap": "20%",
            "barGap": "25%",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "2017",
            "data": [
                134994,
                96965,
                67880,
                72114,
                63084,
                74181,
                81884,
                73469,
                67542,
                130765,
                101502,
                96670,
                91705,
                77484,
                75133,
                75452,
                72686,
                84645,
                83539,
                70486,
                79684,
                85187,
                98612,
                100173,
                75481,
                68037,
                73272,
                79292,
                73939,
                76350,
                111092,
                77774,
                75709,
                73540,
                77206,
                78072
            ],
            "barCategoryGap": "20%",
            "barGap": "25%",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "2016",
            "data": [
                122749,
                87806,
                61189,
                64820,
                56213,
                67444,
                73764,
                68434,
                62583,
                120503,
                90191,
                87153,
                83656,
                71054,
                67630,
                69218,
                65812,
                77012,
                76616,
                61149,
                71963,
                77782,
                89096,
                89757,
                68560,
                62030,
                67386,
                74408,
                70535,
                68375,
                111009,
                69611,
                67011,
                61069,
                70840,
                73254
            ],
            "barCategoryGap": "20%",
            "barGap": "25%",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "2015",
            "data": [
                113073,
                81486,
                54441,
                60516,
                53698,
                61827,
                69390,
                62519,
                58405,
                109279,
                81075,
                77816,
                74989,
                65806,
                6247,
                66930,
                57730,
                68997,
                69465,
                52987,
                65720,
                67266,
                81171,
                81034,
                66749,
                57455,
                62091,
                69123,
                63949,
                62033,
                114582,
                63193,
                62201,
                58099,
                65643,
                67617
            ],
            "barCategoryGap": "20%",
            "barGap": "25%",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "2014",
            "data": [
                103400,
                73839,
                48272,
                57771,
                50469,
                56590,
                63609,
                56977,
                51554,
                100623,
                77286,
                70823,
                70228,
                59648,
                5883,
                63062,
                51848,
                62323,
                62097,
                49756,
                60624,
                61847,
                74246,
                73492,
                54330,
                50653,
                56852,
                63201,
                59330,
                58153,
                72468,
                54098,
                54008,
                54914,
                59080,
                61617
            ],
            "barCategoryGap": "20%",
            "barGap": "25%",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "2018",
                "2017",
                "2016",
                "2015",
                "2014"
            ],
            "selected": {
                "2018": true,
                "2017": true,
                "2016": true,
                "2015": true,
                "2014": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u5317\u4eac",
                "\u5929\u6d25",
                "\u77f3\u5bb6\u5e84",
                "\u592a\u539f",
                "\u547c\u548c\u6d69\u7279",
                "\u6c88\u9633",
                "\u5927\u8fde",
                "\u957f\u6625",
                "\u54c8\u5c14\u6ee8",
                "\u4e0a\u6d77",
                "\u5357\u4eac",
                "\u676d\u5dde",
                "\u5b81\u6ce2",
                "\u5408\u80a5",
                "\u798f\u5dde",
                "\u53a6\u95e8",
                "\u5357\u660c",
                "\u6d4e\u5357",
                "\u9752\u5c9b",
                "\u90d1\u5dde",
                "\u6b66\u6c49",
                "\u957f\u6c99",
                "\u5e7f\u5dde",
                "\u6df1\u5733",
                "\u5357\u5b81",
                "\u6d77\u53e3",
                "\u91cd\u5e86",
                "\u6210\u90fd",
                "\u8d35\u9633",
                "\u6606\u660e",
                "\u62c9\u8428",
                "\u897f\u5b89",
                "\u5170\u5dde",
                "\u897f\u5b81",
                "\u94f6\u5ddd",
                "\u4e4c\u9c81\u6728\u9f50"
            ]
        }
    ],
    "title": [
        {
            "text": "\u6700\u8fd1\u4e94\u5e74\u4e3b\u8981\u57ce\u5e02\u5728\u5c97\u804c\u5de5\u5e73\u5747\u5de5\u8d44(\u5143)"
        }
    ],
    "dataZoom": {
        "show": true,
        "type": "slider",
        "realtime": true,
        "start": 20,
        "end": 80,
        "orient": "vertical",
        "zoomLock": false
    }
};
        chart_bd5c5074c6cb4307ba77996a25f2c19b.setOption(option_bd5c5074c6cb4307ba77996a25f2c19b);
    </script>
</body>
</html>
